@import "tailwindcss";
/* Add to index.css or App.css */
.perspective {
    perspective: 1000px;
  }
  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  .group:hover .rotate-y-180 {
    transform: rotateY(180deg);
  }

@layer components {
    .nav-link {
      @apply text-cyan-400 font-semibold transition duration-300 hover:text-white hover:scale-105;
    }
}
  